## Data transformation

In [1]:
import pandas as pd

df = pd.read_csv('data_cleaning_sample.csv')

In [2]:
df

      Name   Age         City Gender              Email   Join Date
0    Alice  25.0     New York      F  alice@example.com  01-05-2021
1  Charlie   NaN        Delhi      M    charlie@example  20-07-2021
2      Bob  30.0  Los Angeles      M    bob@example.com  15-06-2020
3  Charlie   NaN        Delhi      M    charlie@example  20-07-2021
4    David  22.0       Mumbai      M  david@example.com  12-11-2019
5      NaN  28.0        Delhi      F     eve@domain.com         NaN
6    Alice  25.0     New York      F  alice@example.com  01-05-2021
7    Alice  25.0     New York      F  alice@example.com  01-05-2021
8  Charlie   NaN        Delhi      M    charlie@example  20-07-2021

In [3]:
# let's do some cleaning first

df = df.dropna().drop_duplicates()

In [4]:
df

    Name   Age         City Gender              Email   Join Date
0  Alice  25.0     New York      F  alice@example.com  01-05-2021
2    Bob  30.0  Los Angeles      M    bob@example.com  15-06-2020
4  David  22.0       Mumbai      M  david@example.com  12-11-2019

In [5]:
df2 = pd.read_csv('data.csv')

In [6]:
df2

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [7]:
df2.sort_values('Year')

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2

In [11]:
df2 = df2.sort_values(['IMDb','Year','BoxOffice(INR Crore)'], ascending = False)

In [12]:
# now we have a df which is better according to movies 
# but the indexing is changed so we'll reorder it 

df2.reset_index()

,index,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,2,Aamir Khan,Dangal,2016,Biography,2024,8.4
1,5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
2,11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2
3,6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
4,0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
5,8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
6,4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
7,7,Hrithik Roshan,War,2019,Action,475,6.5
8,10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
9,1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
10,9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
11,3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6

In [13]:
df2.reset_index(drop=True)

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Aamir Khan,Dangal,2016,Biography,2024,8.4
1,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
2,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2
3,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
4,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
5,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
6,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
9,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
10,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
11,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6

In [14]:
df2.reset_index(drop=True, inplace = True )

In [15]:
df2

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Aamir Khan,Dangal,2016,Biography,2024,8.4
1,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
2,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2
3,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
4,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
5,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
6,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
9,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
10,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
11,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6

--- 
## sort index

In [17]:
import pandas as pd

df = pd.read_csv('data_cleaning_sample.csv')

In [18]:
df

      Name   Age         City Gender              Email   Join Date
0    Alice  25.0     New York      F  alice@example.com  01-05-2021
1  Charlie   NaN        Delhi      M    charlie@example  20-07-2021
2      Bob  30.0  Los Angeles      M    bob@example.com  15-06-2020
3  Charlie   NaN        Delhi      M    charlie@example  20-07-2021
4    David  22.0       Mumbai      M  david@example.com  12-11-2019
5      NaN  28.0        Delhi      F     eve@domain.com         NaN
6    Alice  25.0     New York      F  alice@example.com  01-05-2021
7    Alice  25.0     New York      F  alice@example.com  01-05-2021
8  Charlie   NaN        Delhi      M    charlie@example  20-07-2021

In [21]:
# using drop

df = df.dropna()

In [22]:
df.sort_values('Age')

    Name   Age         City Gender              Email   Join Date
4  David  22.0       Mumbai      M  david@example.com  12-11-2019
0  Alice  25.0     New York      F  alice@example.com  01-05-2021
6  Alice  25.0     New York      F  alice@example.com  01-05-2021
7  Alice  25.0     New York      F  alice@example.com  01-05-2021
2    Bob  30.0  Los Angeles      M    bob@example.com  15-06-2020

## Now Using sort_index

In [23]:
df.sort_index()

    Name   Age         City Gender              Email   Join Date
0  Alice  25.0     New York      F  alice@example.com  01-05-2021
2    Bob  30.0  Los Angeles      M    bob@example.com  15-06-2020
4  David  22.0       Mumbai      M  david@example.com  12-11-2019
6  Alice  25.0     New York      F  alice@example.com  01-05-2021
7  Alice  25.0     New York      F  alice@example.com  01-05-2021

---

## Creating Ranking

In [24]:
df2

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Aamir Khan,Dangal,2016,Biography,2024,8.4
1,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
2,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2
3,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
4,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
5,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
6,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
9,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
10,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
11,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6

In [33]:
# providing ranking on the basis of IMDb 
df2["Rank"] = df2["IMDb"].rank(ascending=False,method="dense")

In [34]:
df2

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb,Rank
0,Aamir Khan,Dangal,2016,Biography,2024,8.4,1.0
1,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3,2.0
2,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2,3.0
3,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5,4.0
4,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2,5.0
5,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0,6.0
6,Ranveer Singh,Padmaavat,2018,Historical,585,7.0,6.0
7,Hrithik Roshan,War,2019,Action,475,6.5,7.0
8,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1,8.0
9,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0,9.0
10,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9,10.0
11,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6,11.0

## Renaming and Changing Columns Order

In [39]:
# Rename
df2 = df2.rename(columns= {'Rank':'Ranking','Film':'Movie'})

In [40]:
# Chaning order 
df2 = df2[['Movie','IMDb','Actor','Year','BoxOffice(INR Crore)','Genre','Ranking']]

In [41]:
df2

,Movie,IMDb,Actor,Year,BoxOffice(INR Crore),Genre,Ranking
0,Dangal,8.4,Aamir Khan,2016,2024,Biography,1.0
1,Andhadhun,8.3,Ayushmann Khurrana,2018,111,Thriller,2.0
2,Uri: The Surgical Strike,8.2,Vicky Kaushal,2019,342,Action,3.0
3,Stree,7.5,Rajkummar Rao,2018,180,Horror Comedy,4.0
4,Pathaan,7.2,Shah Rukh Khan,2023,1050,Action,5.0
5,Good Newwz,7.0,Akshay Kumar,2019,318,Comedy,6.0
6,Padmaavat,7.0,Ranveer Singh,2018,585,Historical,6.0
7,War,6.5,Hrithik Roshan,2019,475,Action,7.0
8,Badrinath Ki Dulhania,6.1,Varun Dhawan,2017,201,Romantic Comedy,8.0
9,Tiger Zinda Hai,6.0,Salman Khan,2017,565,Action,9.0
10,Bhool Bhulaiyaa 2,5.9,Kartik Aaryan,2022,266,Horror Comedy,10.0
11,Brahmastra,5.6,Ranbir Kapoor,2022,431,Fantasy,11.0

In [42]:
df2[['Actor','Movie','BoxOffice(INR Crore)']]

                 Actor                     Movie  BoxOffice(INR Crore)
0           Aamir Khan                    Dangal                  2024
1   Ayushmann Khurrana                 Andhadhun                   111
2        Vicky Kaushal  Uri: The Surgical Strike                   342
3        Rajkummar Rao                     Stree                   180
4       Shah Rukh Khan                   Pathaan                  1050
5         Akshay Kumar                Good Newwz                   318
6        Ranveer Singh                 Padmaavat                   585
7       Hrithik Roshan                       War                   475
8         Varun Dhawan     Badrinath Ki Dulhania                   201
9          Salman Khan           Tiger Zinda Hai                   565
10       Kartik Aaryan         Bhool Bhulaiyaa 2                   266
11       Ranbir Kapoor                Brahmastra                   431

In [43]:
df2

,Movie,IMDb,Actor,Year,BoxOffice(INR Crore),Genre,Ranking
0,Dangal,8.4,Aamir Khan,2016,2024,Biography,1.0
1,Andhadhun,8.3,Ayushmann Khurrana,2018,111,Thriller,2.0
2,Uri: The Surgical Strike,8.2,Vicky Kaushal,2019,342,Action,3.0
3,Stree,7.5,Rajkummar Rao,2018,180,Horror Comedy,4.0
4,Pathaan,7.2,Shah Rukh Khan,2023,1050,Action,5.0
5,Good Newwz,7.0,Akshay Kumar,2019,318,Comedy,6.0
6,Padmaavat,7.0,Ranveer Singh,2018,585,Historical,6.0
7,War,6.5,Hrithik Roshan,2019,475,Action,7.0
8,Badrinath Ki Dulhania,6.1,Varun Dhawan,2017,201,Romantic Comedy,8.0
9,Tiger Zinda Hai,6.0,Salman Khan,2017,565,Action,9.0
10,Bhool Bhulaiyaa 2,5.9,Kartik Aaryan,2022,266,Horror Comedy,10.0
11,Brahmastra,5.6,Ranbir Kapoor,2022,431,Fantasy,11.0

In [45]:
df3 = df2[['Movie',]]

In [46]:
df3

                       Movie
0                     Dangal
1                  Andhadhun
2   Uri: The Surgical Strike
3                      Stree
4                    Pathaan
5                 Good Newwz
6                  Padmaavat
7                        War
8      Badrinath Ki Dulhania
9            Tiger Zinda Hai
10         Bhool Bhulaiyaa 2
11                Brahmastra

---

In [52]:
# creative area

df3["Cause why not"] = df2['IMDb'].rank(ascending = False )

In [53]:
df3

                       Movie  Cause why not
0                     Dangal            1.0
1                  Andhadhun            2.0
2   Uri: The Surgical Strike            3.0
3                      Stree            4.0
4                    Pathaan            5.0
5                 Good Newwz            6.5
6                  Padmaavat            6.5
7                        War            8.0
8      Badrinath Ki Dulhania            9.0
9            Tiger Zinda Hai           10.0
10         Bhool Bhulaiyaa 2           11.0
11                Brahmastra           12.0

In [56]:
df3['NewColumn'] = 0

In [57]:
df3

                       Movie  Cause why not  NewColumn
0                     Dangal            1.0          0
1                  Andhadhun            2.0          0
2   Uri: The Surgical Strike            3.0          0
3                      Stree            4.0          0
4                    Pathaan            5.0          0
5                 Good Newwz            6.5          0
6                  Padmaavat            6.5          0
7                        War            8.0          0
8      Badrinath Ki Dulhania            9.0          0
9            Tiger Zinda Hai           10.0          0
10         Bhool Bhulaiyaa 2           11.0          0
11                Brahmastra           12.0          0

In [58]:
df3['SwapCase'] = df3['Movie'].str.swapcase()

In [59]:
df3

,Movie,Cause why not,NewColumn,SwapCase
0,Dangal,1.0,0,dANGAL
1,Andhadhun,2.0,0,aNDHADHUN
2,Uri: The Surgical Strike,3.0,0,uRI: tHE sURGICAL sTRIKE
3,Stree,4.0,0,sTREE
4,Pathaan,5.0,0,pATHAAN
5,Good Newwz,6.5,0,gOOD nEWWZ
6,Padmaavat,6.5,0,pADMAAVAT
7,War,8.0,0,wAR
8,Badrinath Ki Dulhania,9.0,0,bADRINATH kI dULHANIA
9,Tiger Zinda Hai,10.0,0,tIGER zINDA hAI
10,Bhool Bhulaiyaa 2,11.0,0,bHOOL bHULAIYAA 2
11,Brahmastra,12.0,0,bRAHMASTRA

In [60]:
df3['NewColumn'] = df2['Genre']

In [61]:
df3

,Movie,Cause why not,NewColumn,SwapCase
0,Dangal,1.0,Biography,dANGAL
1,Andhadhun,2.0,Thriller,aNDHADHUN
2,Uri: The Surgical Strike,3.0,Action,uRI: tHE sURGICAL sTRIKE
3,Stree,4.0,Horror Comedy,sTREE
4,Pathaan,5.0,Action,pATHAAN
5,Good Newwz,6.5,Comedy,gOOD nEWWZ
6,Padmaavat,6.5,Historical,pADMAAVAT
7,War,8.0,Action,wAR
8,Badrinath Ki Dulhania,9.0,Romantic Comedy,bADRINATH kI dULHANIA
9,Tiger Zinda Hai,10.0,Action,tIGER zINDA hAI
10,Bhool Bhulaiyaa 2,11.0,Horror Comedy,bHOOL bHULAIYAA 2
11,Brahmastra,12.0,Fantasy,bRAHMASTRA

In [63]:
# renaming again
df3.rename(columns = {'NewColumn':'Genre'}, inplace = True )

In [64]:
df3

,Movie,Cause why not,Genre,SwapCase
0,Dangal,1.0,Biography,dANGAL
1,Andhadhun,2.0,Thriller,aNDHADHUN
2,Uri: The Surgical Strike,3.0,Action,uRI: tHE sURGICAL sTRIKE
3,Stree,4.0,Horror Comedy,sTREE
4,Pathaan,5.0,Action,pATHAAN
5,Good Newwz,6.5,Comedy,gOOD nEWWZ
6,Padmaavat,6.5,Historical,pADMAAVAT
7,War,8.0,Action,wAR
8,Badrinath Ki Dulhania,9.0,Romantic Comedy,bADRINATH kI dULHANIA
9,Tiger Zinda Hai,10.0,Action,tIGER zINDA hAI
10,Bhool Bhulaiyaa 2,11.0,Horror Comedy,bHOOL bHULAIYAA 2
11,Brahmastra,12.0,Fantasy,bRAHMASTRA

In [84]:
# changing row name of bHOOL bHULAIYAA 2
# df3.loc[10,"SwapCase"]
df3['SwapCase'] = df3['SwapCase'].replace('bHOOL bHULAIYAA 2', 'KYUUUU BHULLLL GAYEEEE 2')

In [85]:
df3

,Movie,Cause why not,Genre,SwapCase
0,Dangal,1.0,Biography,dANGAL
1,Andhadhun,2.0,Thriller,aNDHADHUN
2,Uri: The Surgical Strike,3.0,Action,uRI: tHE sURGICAL sTRIKE
3,Stree,4.0,Horror Comedy,sTREE
4,Pathaan,5.0,Action,pATHAAN
5,Good Newwz,6.5,Comedy,gOOD nEWWZ
6,Padmaavat,6.5,Historical,pADMAAVAT
7,War,8.0,Action,wAR
8,Badrinath Ki Dulhania,9.0,Romantic Comedy,bADRINATH kI dULHANIA
9,Tiger Zinda Hai,10.0,Action,tIGER zINDA hAI
10,Bhool Bhulaiyaa 2,11.0,Horror Comedy,KYUUUU BHULLLL GAYEEEE 2
11,Brahmastra,12.0,Fantasy,bRAHMASTRA